@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .news-container {
    background-image: url("../assets/story-env-b-m.jpeg");
    background-size: cover;
    background-repeat: repeat-x;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    max-height: 100%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 87.5%;
  }

  .news-container {
    background-image: url("../assets/story-env-b-m.jpeg");
    background-size: cover;
    background-repeat: repeat-x;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    max-height: 100%;
  }

  .article-text h1 {
    font-size: 40px;
  }

  .characters-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .supported-platforms {
    flex-wrap: wrap;
  }

  .display-name {
    font-size: 12px;
  }

  .main-heading {
    font-size: 2rem;
  }

  .trigger-alert {
    padding: 1.5rem;
    margin-left: 0px;
  }

  .trigger-alert img {
    display: none;
  }
}

@media (max-width: 600px) {
  .news-container {
    background-image: url("../assets/story-env-b-m.jpeg");
    background-size: cover;
    background-repeat: repeat-x;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .article-text h1 {
    font-size: 3rem;
  }

  html {
    font-size: 83.5%;
  }

  .characters-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 430px) {
  .characters-container {
    display: flex;
    flex-wrap: wrap;
  }
}
