@import url("breakpoint.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
  image-rendering: optimizeQuality;
  font-synthesis: none;
  font-size: 81.25%; /* 13px */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-adjust: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --fontSans: "Roboto", sans-serif;
  --backgroundHeader: rgb(24, 49, 83);
  --backgroundGradient: linear-gradient(
    295deg,
    rgba(24, 49, 83, 1) 52%,
    rgba(56, 96, 190, 1) 99%
  );
  --second-color: #0e1a2d;
}

body {
  font-family: var(--fontSans);
}

.header {
  max-width: 100%;
  padding: 0.3rem;
  background: var(--backgroundHeader);
  background: var(--backgroundGradient);
  display: flex;
  place-content: center;
}

.main-component {
  background: url("../assets/about-bg-t.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.supported-platforms {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  padding: 1rem;
  padding-top: 1.5rem;
}

.supported-platforms img {
  cursor: pointer;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--second-color);
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12%;
  padding: 0.5rem;
}

.footer-text p,
.trigger-alert p {
  color: #fff;
  font-size: 10px;
}

.footer-text img {
  margin-top: 1.9rem;
}

.trigger-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 100%;
  margin-left: -190px;
}

.terms-conditions {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.terms-conditions a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.terms-conditions a:hover {
  filter: brightness(0.9);
}
