@import url("breakpoint.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
  image-rendering: optimizeQuality;
  font-synthesis: none;
  font-size: 81.25%; /* 13px */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-adjust: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --fontSans: "Roboto", sans-serif;
  --backgroundHeader: rgb(24, 49, 83);
  --backgroundGradient: linear-gradient(
    295deg,
    rgba(24, 49, 83, 1) 52%,
    rgba(56, 96, 190, 1) 99%
  );
  --second-color: #0e1a2d;
  --primary-color: #223e6b;
  --button-black-bg: #1a181c;
  --white-font-color: #ffff;
  --white-background-modal: #f1f1f1;
  --font-color-modal: #3868b6;
  --buy-button-hover: #004eb4;
  --close-button-color: #e51d37;
}

body {
  font-family: var(--fontSans);
  background-image: url("../assets/purchase-edition-bg.jpeg");
  background-size: cover;
  background-repeat: repeat;
}

.header {
  max-width: 100%;
  padding: 0.3rem;
  background: var(--backgroundHeader);
  background: var(--backgroundGradient);
  display: flex;
  place-content: center;
}

.main-container {
  text-align: center;
  max-width: 100%;
  margin-bottom: 2.5rem;
}

.characters-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 6.5rem;
}

.characters-container img:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
}

.main-heading {
  letter-spacing: 0.6px;
  font-size: 3rem;
  color: var(--primary-color);
  font-weight: 700;
  padding-top: 1.5rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

.display-name,
.logo-cta button {
  background-color: #1a181c;
  cursor: pointer;
  border: none;
  color: var(--white-font-color);
  border-radius: 7px;
  font-size: 0.987rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  padding: 1rem;
}

.display-name:hover {
  background-color: var(--primary-color);
  filter: brightness(0.9);
  transition: all ease-in-out 5ms;
}

.news-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-font-color);
  max-width: 100%;
  height: 526px;
  background-image: url("../assets/story-env-b.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
}

.article-text {
  margin-top: -90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.article-text h1 {
  font-size: 56px;
  font-weight: 700;
}

.buy-container {
  padding: 2.4rem;
  background-color: var(--primary-color);
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-cta {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.article-text p {
  margin-top: 1.5rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.logo-cta button {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  width: 250px;
  height: 60px;
  border-radius: 6px;
}

.logo-cta button:hover {
  background-color: var(--buy-button-hover);
  filter: brightness(0.9);
  transition: all ease-in-out 5ms;
}

.supported-platforms {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  padding: 1rem;
  padding-top: 1.5rem;
}

.supported-platforms img {
  cursor: pointer;
}

.footer-container img:hover {
  cursor: pointer;
  filter: brightness(0.7);
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--second-color);
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12%;
  padding: 0.5rem;
}

.footer-text p,
.trigger-alert p {
  color: #fff;
  font-size: 10px;
}

.footer-text img {
  margin-top: 1.9rem;
}

.trigger-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 100%;
  margin-left: -190px;
}

.terms-conditions {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.terms-conditions a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.terms-conditions a:hover {
  filter: brightness(0.9);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
  backdrop-filter: blur(1px);
}

.modal-content {
  background-color: var(--white-background-modal);
  margin: -2% auto;
  margin-bottom: 4.5rem;
  padding: 1.5rem;
  border: none;
  border-radius: 2.5px;
  width: 80%;
  text-align: center;
}

.modal-content h3 {
  color: var(--font-color-modal);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 6.79px;
}

.modal-content h1 {
  color: var(--primary-color);
  font-size: 54px;
  font-style: italic;
}

.modal-content h5 {
  font-size: 18px;
  color: var(--primary-color);
}

.modal-content p {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-color);
  line-height: 25px;
}

.close {
  color: var(--close-button-color);
  float: right;
  font-size: 56px;
  font-weight: 700;
  margin-top: -1rem;
}

.close:hover,
.close:focus {
  color: var(--button-black-bg);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
}

.dev-contacts {
  display: inline-flex;
  gap: 12px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
